.skills {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 25%);
}
.skills-box {
  margin: 15px 5px;
}
.skills-box-icon {
  padding: 50px 0;
  border: 2px solid #999999;
  border-radius: 30px;
  text-align: center;
}

.skills-box svg {
  font-size: 80px;
  color: #fff;
  transition: all 0.4s;
}
.skills-box-icon:hover svg {
  color: var(--primary_color);
  transform: scale(1.1);
}
.skills-box p {
  color: #fff;
  text-align: center;
  margin-top: 5px;
  transition: all 0.4s;
}
.skills-box:hover p {
  color: var(--primary_color);
}

@media only screen and (max-width: 767px) {
  .skills {
    display: flex;
    overflow-x: scroll;
  }
  .skills-box-icon {
    padding: 25px;
  }
  .skills-box svg {
    font-size: 45px;
  }
}
