.container {
  max-width: 1550px;
  margin: auto;
}

.container-app {
  position: relative;
}
.btn-header {
  padding-top: 200px;
}
.btn-info-title {
  border: 2px solid #fff;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  padding: 8px 35px;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
}
.btn-info-title svg {
  margin-right: 5px;
}

.btn-info-subtitle {
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  margin: 20px 0;
  line-height: 1.2;
}
.btn-info-subtitle span {
  color: var(--primary_color);
}
.container-app-right {
  padding-left: 450px;
  padding-right: 150px;
}
.btn-info p {
  color: #999;
}

.section--add {
  animation: mymove 0.4s;
}
@keyframes mymove {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1100px) {
  .container {
    max-width: 750px;
  }
  .container-app-right {
    padding-left: 15px;
    padding-right: 120px;
  }
  .btn-info-subtitle {
    font-size: 30px;
  }
  .btn-header {
    padding-top: 100px;
  }
  .btn-info-title {
    font-size: 14px;
    padding: 6px 30px;
  }
}

@media only screen and (max-width: 767px) {
  .container-app-right {
    padding-right: 15px;
  }
}
